@charset "UTF-8";
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #fff;
  /*	::-webkit-scrollbar {
  		    width: 6px;
  		    height: 8px;
  		    background-color: #f5f5f5;
  		}
  */
  /* ползунок скроллбара */
}
body ::-webkit-scrollbar-thumb {
  background-color: #95e1d4;
  border-radius: 9em;
  box-shadow: none;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: #95e1d4;
}

.page {
  overflow: hidden;
}

.linebottomtext {
  width: 60px;
  height: 4px;
  background-color: #f38181;
  border: none;
  margin: 40px auto 40px auto;
}

header {
  background: url(../img/header/bgheader.jpg) no-repeat;
  background-size: cover;
}
header .header-center {
  padding: 0 30px 0 30px;
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  margin: 0 auto;
}
header .header-center .nav {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding-top: 30px;
}
header .header-center .nav .burger {
  display: none;
}
header .header-center .nav .logo {
  font-size: 30px;
  font-weight: 700;
  flex-grow: 1;
}
header .header-center .nav .menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
   transition: top 0.2s linear;
}
header .header-center .nav .menu a {
  color: white;
}
.displaynone_i_header {
  display: none;
}
header .header-center .nav .menu li {
  text-transform: uppercase;
  list-style-type: none;
  margin-left: 57px;
  transition: opacity 0.1s linear;
  position: relative;
  display: block;
}
header .header-center .nav .menu li:after {
  content: "";
  height: 3px;
  width: 102%;
  background-color: #fce38a;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1s linear;
  opacity: 0;
}
header .header-center .nav .menu li:hover {
  color: #fce38a;
  cursor: pointer;
}
header .header-center .nav .menu li:hover:after {
  opacity: 1;
}
header .firsttext {
  text-align: center;
  width: 100%;
  max-width: 880px;
  margin: 0 auto 0 auto;
  padding-top: 150px;
}
header .firsttext p {
  font-size: 72px;
  font-family: "Kaushan Script", cursive;
  margin: 0px;
}
header .firsttext h1 {
  line-height: 1;
  font-size: 130px;
  margin: 0px auto;
  font-weight: bold;
  text-transform: uppercase;
}
header .firsttext .linebottomtext {
  background: white;
}
header a {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
header #aheader span {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border: 4px solid white;
  padding: 11px 28px;
  font-weight: bold;
  transition: background 0.1s linear;
}
header #aheader span:hover {
  color: #fce38a;
  background: white;
  padding: 11px 28px;
}

.nav-fixed {
  width: 100%;
  position: fixed;
  top: -30px;
  left: 0;
  background: #e88182;
  padding: 0 30px;
  margin: 0;
  padding-top: 0;
  z-index: 1000;
}

.aboutuscenter {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px 0 30px;
  text-align: center;
  margin: 0 auto;
}
.aboutuscenter p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  max-width: 940px;
  margin-bottom: 100px;
  margin: 0 auto;
}
.aboutuscenter .photoaboutus {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 110px;
}
.aboutuscenter .photoaboutus .photoaboutusbg {
  position: relative;
  background: #95e1d3;
  margin-right: 10px;
}
.aboutuscenter .photoaboutus .photoaboutusbg:last-child {
  margin-right: 0px;
}
.aboutuscenter .photoaboutus .photoaboutusbg .textinimg {
  position: absolute;
  bottom: 40%;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 3;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity, transform 0.2s linear;
}
.aboutuscenter .photoaboutus .photoaboutusbg .textinimg i {
  font-size: 25px;
}
.aboutuscenter .photoaboutus .photoaboutusbg:hover .photoaboutusgradient {
  transform: translate(-10px, -10px);
}
.aboutuscenter .photoaboutus .photoaboutusbg:hover .textinimg {
  opacity: 1;
  transform: translate(-10px, -10px);
}
.aboutuscenter .photoaboutus .photoaboutusgradient {
  background-color: #95e1d3;
  transition: background, transform 0.2s linear;
}
.aboutuscenter .photoaboutus .photoaboutusgradient:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)";
  background: linear-gradient(0deg, #fce38a, #f38181);
}
.aboutuscenter .photoaboutus .photoaboutusgradient img {
  max-width: 100%;
  display: block;
  transition: opacity 0.2s linear;
}
.aboutuscenter .photoaboutus .photoaboutusgradient img:hover {
  opacity: 0.3;
}

.nameblock {
  width: 100%;
  display: block;
  text-align: center;
}
.nameblock h3 {
  margin-top: 70px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}
.nameblock h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.blue_numbers {
  background-color: #95e1d3;
}
.blue_numbers .blue_numbers_center {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.blue_numbers .blue_numbers_center .numbers {
  flex: 1 1 0;
  text-align: center;
  color: #fff;
  border-left: 1px solid #b5eae0;
  padding: 80px 0px;
}
.blue_numbers .blue_numbers_center .numbers h3 {
  font-size: 72px;
  font-weight: bold;
}
.blue_numbers .blue_numbers_center .numbers p {
  text-transform: uppercase;
}
.blue_numbers .blue_numbers_center .numbers:last-child {
  border-right: 1px solid #b5eae0;
}

.amazing_services_center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}
.amazing_services_center .amazing_services_bloks {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 90px;
}
.amazing_services_center .amazing_services_bloks .amazing_services_bloks_i {
  max-width: 30%;
  margin: 60px 0px 30px 0px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text {
  display: inline-block;
  margin-left: 30px;
  width: calc(100% - 40px);
}
.amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 400;
}
.amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #b6b6b6;
}

.design {
  background: url(../img/phone/designbg.jpg) rgba(255, 255, 255, 0.1) no-repeat;
  background-size: cover;
  padding: 0 30px 0 30px;
}

.design_center {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  position: relative;
  padding: 1px 0px;
}

.design_center_photo_1 {
  transform: translate(-30px, 7px);
}

.design_center_photo_2 {
  position: absolute;
  bottom: -50px;
  left: calc(50% + 125px);
}

.textp p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  max-width: 940px;
  margin-bottom: 100px;
  margin: 0 auto;
}

.what_we_do_block {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: 95px;
  margin-bottom: 120px;
}

.what_we_do_center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

.accordion {
  padding-left: 32px;
  width: 100%;
}

.accordoonimg {
  max-width: 50%;
}

.accordion_block_i {
  margin-bottom: 10px;
}
.accordion_block_i:last-child {
  margin-bottom: 0px;
}
.accordion_block_i .accordion_click {
  border: 1px solid #e5e5e5;
  padding: 20px 20px 20px 60px;
  position: relative;
  cursor: pointer;
}
.accordion_block_i .accordion_click .accordion_ico {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 30px;
}
.accordion_block_i .accordion_click p {
  text-transform: uppercase;
}
.accordion_block_i .accordion_click p:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: calc(50% - 8px);
  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  transform: rotate(-45deg);
}
.accordion_block_i .accordion_text {
  border: 1px solid #e5e5e5;
  border-top: none;
  font-size: 15px;
  max-height: 168px;
  padding: 25px 20px;
  overflow: auto;
}

.accordion_close {
  width: 100%;
}
.accordion_close .accordion_click p:after {
  transform: rotate(-225deg);
}
.accordion_close .accordion_text {
  display: none;
  background: black;
  top: calc(50% - 12px);
}

.withoutpm {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  margin-right: 10px;
}

.slider {
  background: #f8f8f8;
  width: 100%;
  padding: 0 30px 0 30px;
  position: relative;
}

.slider_center {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 70px 0px;
  position: relative;
}

.block_slider {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: center;
  margin: 0px 120px;
}


.slider_img {
  margin-right: 60px;
}

.slider_text {
  font-size: 21px;
}
.slider_text p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #b4b4b4;
}
.slider_text h4 {
  font-family: "Kaushan Script", cursive;
}

.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* Слайд */
.slick-slide{
  display: none;

}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow {
  background: url(../img/slider/arrow-left-solid.svg) 0 0  no-repeat ;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 8px);
  z-index: 1000;
  width: 30px;
  height: 30px;
  font-size: 0;
  border: none;
  -webkit-filter: invert(70%);
  filter: invert(70%);
}
/* Стрелка влево */
.slick-arrow.slick-prev{
left: 10px;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
  right: 10px;
  webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.aboutuscenter {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}
.aboutuscenter p:first-child {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  max-width: 940px;
  margin-bottom: 100px;
  margin: 0 auto;
}

.cards {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 110px;
}

.cards_i h4 {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 30px;
}
.cards_i p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #b6b6b6;
  margin-top: 5px;
}

.card_bg {
  background: #95e1d3;
  position: relative;
}

.card_bg:hover .card-gradient {
  transform: translate(-10px, -10px);
}
.card_bg:hover .card-gradient .img_boss_card {
  opacity: 0.3;
}

.img_boss_card {
  max-width: 100%;
  display: block;
  transition: opacity 0.2s linear;
}

.card-gradient {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)";
  background: linear-gradient(0deg, #fce38a, #f38181);
  transition: background, transform 0.2s linear;
}
.card-gradient:hover .card_textinimg {
  opacity: 1;
}

.card_textinimg {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 auto;
}

.ico_on_photo {
  background: #fce38a;
  width: 56px;
  height: 56px;
  font-size: 30px;
  color: #f38181;
  border-right: 1px solid #f9bd87;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ico_on_photo:hover i {
  color: white;
}
.ico_on_photo:last-child {
  border-right: none;
}

.ico_on_photo:hover {
  background: #f38181;
}

.logos {
  width: 100%;
  padding: 60px 30px;
  background-color: #f8f8f8;
}

.logos_center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.logos_i {
  opacity: 0.8;
}

.gallary {
  width: 100%;
}

.gallary_center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.gallary .nameblock p {
  padding: 0px 30px;
}

.gallary_block {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 100px auto 0px auto;
  max-width: 1920px;
  font-size: 0;
}

.column_1 {
  max-width: 25%;
}

.photo_gallary_n {
  display: block;
}

.gradient_gallery {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)";
  background: linear-gradient(0deg, #fce38a, #f38181);
  display: inline-block;
}
.gradient_gallery:hover .photo_gallery .photo_gallary_i {
  opacity: 0.3;
}
.gradient_gallery:hover .text_gallary {
  opacity: 1;
}

.photo_gallery {
  position: relative;
  transition: opacity 0.2s linear;
}

.photo_gallary_i {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.text_gallary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 0;
}
.text_gallary i {
  font-size: 30px;
}
.text_gallary h5 {
  text-transform: uppercase;
}
.text_gallary p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.bg_white {
  background: white;
}

.sayaboutus {
  background: url(../img/peoplesay/bg.jpg) no-repeat;
  padding: 0 30px;
  max-height: 900px;
  overflow: hidden;
}

.sayaboutus_center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sayaboutus_people {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-top: 80px;
}

.sayaboutus_people_i {
  width: 50%;
  position: relative;
  padding-left: 180px;
  margin-bottom: 60px;
}
.sayaboutus_people_i img {
  position: absolute;
  left: 40px;
}
.sayaboutus_people_i h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin: 0;
}
.sayaboutus_people_i p {
  color: #999999;
}
.sayaboutus_people_i p:first-child {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  color: black;
}
.sayaboutus_people_i .linebottomtext {
  margin-top: 10px;
  margin-bottom: 15px;
}

.blog_center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

.blog_block {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px;
}

.blog_block_i {
  margin-left: 20px;
  text-align: left;
}
.blog_block_i h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 380px;
}
.blog_block_i p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  max-width: 380px;
}
.blog_block_i:first-child {
  margin-left: 0px;
}

.blog_img {
  position: relative;
  padding: 0;
  margin: 0;
}

.blog_img_i {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.blog_img_text {
  position: absolute;
  left: -11px;
  bottom: 17px;
  width: 61px;
  height: 72px;
  background: #95e1d3;
  color: white;
  text-align: center;
}
.blog_img_text .h4_blog_img {
  margin-top: 6px;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}
.blog_img_text .р_blog_img {
  margin-top: -7px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
}

.line_blog {
  margin: 15px 0 10px 0;
  height: 1px;
  background: #e5e5e5;
  color: #e5e5e5;
  border: none;
}

.view_blog, .comment_blog {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  display: inline-block;
  margin-right: 15px;
}
.view_blog i, .comment_blog i {
  margin-right: 5px;
  color: #95e1d3;
}

.map {
  max-height: 200px;
  background: url(../img/map/1.jpg) no-repeat;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 37px 0;
  color: #f38181;
}
.map h3 {
  margin-top: 5px;
}

footer {
  background: #f8f8f8;
  padding: 0 30px 0 30px;
}

.footer_center {
  padding-top: 58px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #cccccc;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.footer_mogo {
  margin-right: 30px;
}

.footer_mogo_h4 {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 35px;
}

.footer_mogo_p {
  margin-bottom: 25px;
}

.mogo_line {
  background-color: #e5e5e5;
  height: 1px;
  border: none;
}

.follows {
  margin-bottom: 10px;
}

.bold18px {
  font-weight: bold;
  font-style: 18px;
  color: #333333;
}

.footer_mogo_social {
  margin-top: 10px;
  margin-bottom: 40px;
}
.footer_mogo_social i {
  color: #95e1d3;
  margin-left: 10px;
  font-size: 18px;
}

.input_email {
  width: 230px;
  height: 40px;
  padding-left: 10px;
  color: #cccccc;
  border-color: #e7e7e7;
  border: 1px solid;
  margin: 0;
}

.input_subscribe {
  width: 150px;
  height: 40px;
  background: #95e1d3;
  border: 0;
  font-weight: bold;
  color: white;
  margin-left: -10px;
  cursor: pointer;
}

.footer_blogs {
  margin-right: 50px;
}
.footer_blogs h4 {
  margin-top: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #333333;
}

.footer_blogs_i {
  position: relative;
  padding-left: 140px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.footer_blogs_i h5 {
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
}
.footer_blogs_i p {
  font-size: 13px;
  font-style: italic;
  color: #999;
  min-width: 200px;
}

.footer_blogs_img_i {
  position: absolute;
  left: 0;
  top: 0;
}

.footer_inst {
  font-size: 0px;
  min-width: 280px;
}
.footer_inst h4 {
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #333333;
  font-size: 14px;
}

.footer_inst_column {
  display: inline-block;
  margin: 0;
}
.footer_inst_column img {
  display: block;
  margin: 2px 1px 0px 1px;
}

.hr_footer_end {
  background-color: #e5e5e5;
  height: 1px;
  border: none;
  margin-top: 60px;
}

.footer_p_end {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;
  color: #333333;
}

@media screen and (max-width: 1400px) {
  header .firsttext {
    padding-top: 90px;
  }

  header .firsttext h1 {
    font-size: 120px;
  }

  header .firsttext p {
    font-size: 60px;
  }
}
@media screen and (max-width: 1260px) {
  header .firsttext {
    padding-top: 90px;
  }

  header .firsttext h1 {
    font-size: 120px;
  }

  header .firsttext p {
    font-size: 60px;
  }
}
@media screen and (max-width: 1150px) {
  header .firsttext {
    padding-top: 90px;
  }
  header .firsttext p {
    font-size: 50px;
  }
  header .firsttext h1 {
    font-size: 120px;
  }

  .footer_center {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .footer_mogo_h4 {
    margin-bottom: 0px;
  }

  .footer_blogs {
    width: 50%;
    margin-right: 0;
  }

  .footer_inst {
    text-align: right;
    width: 50%;
  }
  .footer_inst h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    margin-right: 185px;
  }

  .footer_blogs h4 {
    margin-top: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333333;
  }

  .footer_blogs_i {
    margin-bottom: 10px;
  }

  .footer_mogo {
    margin-right: 0px;
  }
}
@media screen and (max-width: 990px) {
  header .firsttext {
    padding-top: 120px;
    max-width: 700px;
  }
  header .firsttext p {
    font-size: 55px;
  }
  header .firsttext h1 {
    font-size: 110px;
  }

  .nameblock h3 {
    margin-top: 50px;
    font-size: 21px;
  }
  .nameblock .linebottomtext {
    margin: 30px auto 30px auto;
    font-size: 28px;
  }

  .aboutuscenter p {
    font-size: 13px;
  }

  .aboutuscenter .photoaboutus {
    margin: 40px 0 55px 0;
  }

  .blue_numbers .blue_numbers_center .numbers {
    padding: 50px 0;
  }

  .blue_numbers .blue_numbers_center .numbers h3 {
    font-size: 60px;
  }

  .blue_numbers .blue_numbers_center .numbers p {
    font-size: 13px;
  }

  .amazing_services_center .amazing_services_bloks {
    padding-bottom: 50px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i {
    max-width: calc(33% - 8px);
    margin: 40px 8px 20px 0;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text {
    margin-left: 20px;
  }
  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text h4 {
    margin: -2px 0px;
  }
  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text p {
    font-size: 13px;
  }

  .textp p {
    font-size: 13px;
  }

  .what_we_do_block {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .accordion_block_i .accordion_text {
    font-size: 14px;
    padding: 15px 15px;
  }

  .accordion_block_i .accordion_click {
    padding: 15px 15px 15px 60px;
  }

  .accordion_block_i .accordion_click .accordion_ico {
    top: 11px;
  }

  .accordion_block_i .accordion_click p {
    font-size: 14px;
  }

  .accordion_block_i .accordion_click p:after {
    top: calc(50% - 10px);
  }

  .slider_center {
    padding: 30px 0;
  }

  .slider_text p {
    font-size: 17px;
  }

  .slider_text h4 {
    font-size: 20px;
  }

  .gallary_block {
    margin-top: 50px;
  }

  .logos {
    width: 100%;
    padding: 40px 30px;
    background-color: #f8f8f8;
  }

  .sayaboutus_people_i {
    padding-left: 120px;
  }

  .sayaboutus_people_i img {
    left: 0px;
  }

  .sayaboutus_people_i .linebottomtext {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .blog_block {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 770px) {
  header .firsttext p {
    font-size: 55px;
  }
  header .firsttext h1 {
    font-size: 95px;
    max-width: 650px;
  }

  .nameblock h3 {
    margin-top: 50px;
    font-size: 18px;
  }
  .nameblock h2 {
    font-size: 26px;
  }
  .nameblock .linebottomtext {
    margin: 20px auto 20px auto;
    font-size: 23px;
  }

  header .header-center .nav .logo {
    text-align: right;
  }

  header .header-center .nav .menu {
    position: absolute;
    display: block;
    top: -1000px;
    left: 0px;
    background: rgba(243, 129, 129, 0.8);
    width: 300px;
    font-size:20px;
    font-weight: 100;
    margin-left: 5px;
  }
  header .header-center .nav .menu li {
    text-align:left;
    margin-left: 0;
    display: inline-block;
    margin-left: 10px;
  }
  header .header-center .nav .menu a {
      display: inline-block;
      text-align:left;
      margin: 10px 0 10px 30px;
      padding-left: 5px;
  }

  .displaynone_i_header {
  display: inline-block;
}

  header .header-center .nav .burger {
    display: block;
    font-size: 30px;
  }


  .aboutuscenter .photoaboutus {
    margin: 30px 0 50px 0;
  }

  .cards_i h4 {
    margin-top: 10px;
  }

  .cards_i p {
    margin-top: -5px;
  }

  .blue_numbers .blue_numbers_center .numbers {
    padding: 30px 0;
  }

  .blue_numbers .blue_numbers_center .numbers h3 {
    font-size: 54px;
  }

  .blue_numbers .blue_numbers_center .numbers p {
    font-size: 12px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i {
    max-width: calc(50% - 10px);
    margin: 35px 5px 0px 5px;
  }

  .amazing_services_bloks_i img {
    width: 28px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text {
    margin-left: 10px;
  }

  .design_center_photo_1 {
    max-width: 100%;
    text-align: center;
  }

  .design_center_photo_2 {
    text-align: center;
  }

  .design_center_photo_1 img {
    max-width: 100%;
  }

  .what_we_do_block {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }

  .accordoonimg {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .accordion {
    padding-left: 0px;
  }

  .block_slider {
    margin: 0 50px;
  }

  .slider_center {
    padding: 50px 0;
  }

  .slider_img {
    max-width: 100px;
    margin-right: 20px;
  }

  .slider_text p {
    font-size: 14px;
  }

  .cards {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .logos_center {
    flex-wrap: wrap;
  }

  .logos {
    padding: 20px 0px;
  }

  .logos_i {
    text-align: center;
    width: calc(33% - 20px);
    margin: 0 10px 0 10px;
  }

  .logos_i img {
    max-width: 100%;
  }

  .sayaboutus_people {
    margin-top: 40px;
  }

  .sayaboutus_people_i {
    padding-left: 125px;
    width: 90%;
    margin: 0 auto 20px auto;
  }

  .sayaboutus_people_i img {
    left: 0px;
    max-width: 100px;
  }

  .sayaboutus_people_i p {
    font-size: 12px;
  }

  .blog_block {
    margin-bottom: 70px;
  }

  .blog_block_i h4 {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .blog_block_i p {
    font-size: 11px;
  }

  .blog_img_text {
    width: 50px;
  }

  .view_blog, .comment_blog {
    font-size: 13px;
  }

  .line_blog {
    margin: 5px 0 6px 0;
  }

  .map {
    padding: 10px 0 10px 0;
  }

  .footer_mogo_p {
    font-size: 13px;
  }

  .footer_mogo_social {
    margin-bottom: 25px;
  }

  .footer_blogs h4 {
    margin-top: 20px;
  }

  .footer_inst h4 {
    margin-top: 20px;
  }

  .input_email {
    width: calc(100% - 144px);
  }
}
@media screen and (max-width: 575px) {
  header .header-center, .aboutuscenter, .amazing_services_center, .design, .what_we_do_center, .slider, .aboutuscenter, .blog_center, footer {
    padding: 0 20px 0 20px;
  }

  header .firsttext {
    margin-top: 0px;
  }
  header .firsttext p {
    font-size: 50px;
  }
  header .firsttext h1 {
    font-size: 80px;
    max-width: 650px;
  }

  .nameblock h2 {
    font-size: 21px;
  }

  .nameblock h3 {
    font-size: 16px;
    margin-top: 30px;
  }

  .nameblock .linebottomtext {
    margin: 10px auto;
  }

  .aboutuscenter p {
    font-size: 11px;
  }

  .blue_numbers .blue_numbers_center .numbers {
    padding: 20px 0;
  }

  .blue_numbers .blue_numbers_center .numbers h3 {
    font-size: 45px;
  }

  .blue_numbers .blue_numbers_center .numbers p {
    font-size: 10px;
    margin-top: -8px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i {
    margin: 25px 5px 0px 5px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text {
    margin-left: 10px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text h4 {
    font-size: 12px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text p {
    font-size: 11px;
  }

  .design_center_photo_1 img {
    max-width: 300px;
  }

  .design_center_photo_2 {
    left: calc(50% + 30px);
    bottom: -30px;
  }

  .design_center_photo_2 img {
    max-width: 150px;
  }

  .accordion_block_i .accordion_click p {
    font-size: 12px;
  }

  .accordion_block_i .accordion_click {
    padding: 14px 14px 14px 50px;
  }

  .accordion_block_i .accordion_click .accordion_ico {
    width: 28px;
    top: 10px;
    left: 15px;
  }

  .accordion_block_i .accordion_text {
    font-size: 13px;
  }

  .slider_center {
    padding: 30px 0;
  }

  .block_slider {
    margin: 0 30px;
  }

  .slider_img {
    margin-right: 10px;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cards_i {
    max-width: 50%;
    margin-bottom: 15px;
  }

  .logos_i img {
    max-width: 80px;
  }

  .gallary_block {
    margin-top: 30px;
  }

  .sayaboutus_people_i {
    width: 100%;
  }

  .blog_block_i {
    max-width: calc(50% - 8px);
  }

  .blog_block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog_block_i {
    margin: 0;
  }
  .blog_block_i:first-child {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .blog_block_i:last-child {
    margin-left: 15px;
  }

  .footer_blogs {
    width: 100%;
    margin-top: 10px;
  }

  .footer_blogs_i {
    margin-bottom: 25px;
  }

  .footer_inst {
    text-align: left;
    width: 100%;
  }

  .footer_inst h4, .footer_blogs h4 {
    margin: 8px 0;
  }
}
@media screen and (max-width: 505px) {
  header .firsttext {
    margin-top: 0px;
    padding-top: 145px;
  }
  header .firsttext p {
    font-size: 35px;
  }
  header .firsttext h1 {
    font-size: 68px;
    max-width: 650px;
  }

  header, .sayaboutus, .header-center, .aboutuscenter, .amazing_services_center, .design, .what_we_do_center, .slider, .aboutuscenter, .blog_center, footer {
    padding: 0 12px 0 12px;
  }

  .nameblock h2 {
    font-size: 19px;
  }

  .nameblock h3 {
    font-size: 15px;
  }

  .aboutuscenter .photoaboutus {
    margin-bottom: 30px;
  }

  .blue_numbers .blue_numbers_center {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
  }

  .blue_numbers .blue_numbers_center .numbers {
    flex: 1 1 33%;
    max-width: 33%;
    padding: 0;
    border: none;
  }

  .blue_numbers .blue_numbers_center .numbers:last-child {
    border: none;
  }

  .blue_numbers .blue_numbers_center .numbers h3 {
    line-height: 1.45;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i {
    margin: 20px 2px 0 2px;
  }

  .amazing_services_bloks_i img {
    width: 25px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text {
    margin-left: 6px;
  }

  .design_center_photo_2 img {
    max-width: 130px;
  }

  .textp p {
    font-size: 11px;
  }

  .accordion_block_i .accordion_text {
    padding: 10px 10px;
  }

  .what_we_do_block {
    margin-bottom: 40px;
  }

  .slider_img {
    max-width: 80px;
  }

  .slider_text p {
    font-size: 13px;
  }

  .slider_text h4 {
    font-size: 16px;
  }

  .slider_ckick_left, .slider_ckick_right {
    width: 0px;
  }

  .cards_i h4 {
    font-size: 13px;
    margin-top: 0px;
  }

  .sayaboutus_people_i {
    padding-left: 105px;
  }

  .sayaboutus_people_i .linebottomtext {
    margin: 0;
  }

  .sayaboutus_people_i p {
    margin-bottom: -5px;
  }

  .sayaboutus_people_i h5 {
    font-size: 12px;
  }

  .sayaboutus_people_i p {
    font-size: 11px;
  }

  .blog_block {
    margin-bottom: 30px;
  }

  .map h3 {
    font-size: 23px;
    margin-bottom: -10px;
  }

  .footer_mogo_p {
    font-size: 11px;
    margin-bottom: 20px;
  }

  .input_email {
    height: 35px;
  }

  .input_subscribe {
    height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .sayaboutus_people_i img {
    max-width: 80px;
  }

  .sayaboutus_people_i {
    padding-left: 90px;
  }

  .sayaboutus_people_i {
    line-height: 1.4;
  }

  .input_subscribe {
    width: 110px;
  }

  .input_email {
    width: calc(100% - 104px);
  }

  .logos_i img {
    max-width: 60px;
  }

  .logos {
    padding: 10px 0;
  }
}
@media screen and (max-width: 450px) {
  header .firsttext {
    margin-top: 0px;
    padding-top: 145px;
  }
  header .firsttext p {
    font-size: 35px;
  }
  header .firsttext h1 {
    font-size: 60px;
    max-width: 650px;
  }

  header .header-center, .sayaboutus, .aboutuscenter, .amazing_services_center, .design, .what_we_do_center, .slider, .aboutuscenter, .blog_center, footer {
    padding: 0 3px 0 3px;
  }

  .nameblock {
    line-height: 1.3;
  }

  .nameblock h3 {
    margin-top: 20px;
  }

  .aboutuscenter .photoaboutus .photoaboutusbg {
    margin-right: 4px;
  }

  .aboutuscenter .photoaboutus {
    margin: 20px 0;
  }

  .blue_numbers .blue_numbers_center .numbers h3 {
    font-size: 38px;
  }

  .blue_numbers .blue_numbers_center .numbers p {
    font-size: 9px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i {
    max-width: calc(50% - 10px);
    margin: 15px 0 0 0;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text p {
    font-size: 10px;
  }

  .amazing_services_bloks_i img {
    width: 20px;
  }

  .amazing_services_center .amazing_services_bloks {
    line-height: 1.5;
  }

  .nameblock h2 {
    font-size: 16px;
  }

  .blue_numbers .blue_numbers_center {
    padding: 5px 0;
  }

  .accordion_block_i .accordion_text {
    font-size: 11px;
  }

  .slider_img {
    max-width: 60px;
  }

  .slider_ckick_left, .slider_ckick_right {
    width: 15px;
  }

  .slider_text p {
    font-size: 11px;
  }
  .slick-arrow {
  width: 15px;
  height: 15px;
}

  .cards_i h4 {
    font-size: 11px;
  }

  .aboutuscenter p {
    font-size: 10px;
  }

  .gallary .nameblock p {
    padding: 3px 0;
  }

  .textp p {
    font-size: 10px;
  }

  .sayaboutus_people_i p {
    font-size: 10px;
  }

  .sayaboutus_people {
    margin-top: 20px;
  }

  .nameblock {
    padding: 0 10px;
  }

  .blog_img_text {
    height: 58px;
  }
}
@media screen and (max-width: 375px) {
  header .firsttext {
    margin-top: 0px;
    padding-top: 155px;
  }

  header .firsttext h1 {
    font-size: 50px;
  }

  header .firsttext p {
    font-size: 32px;
  }

  header #aheader span {
    font-size: 13px;
    padding: 10px 24px;
    border: 3px solid white;
  }

  .blog_block_i h4 {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .blog_block_i h4 {
    font-size: 11px;
  }

  .blog_block_i p {
    font-size: 10px;
  }

  .footer_mogo_p {
    font-size: 10px;
  }

  .follows {
    font-size: 12px;
  }

  .sayaboutus_people_i img {
    min-width: 75px;
  }

  .footer_inst h4, .footer_blogs h4 {
    font-size: 12px;
  }

  .footer_blogs_i {
    padding-left: 130px;
  }

  .footer_blogs_i h5 {
    font-size: 10px;
  }

  .footer_blogs_i p {
    font-size: 10px;
  }
}
@media screen and (max-width: 320px) {
  header .header-center .nav .logo {
    font-size: 26px;
  }

  header .header-center .nav {
    padding-top: 30px;
  }

  .amazing_services_bloks_i img {
    margin-left: -10px;
    margin-right: 0px;
  }

  .amazing_services_center .amazing_services_bloks .amazing_services_bloks_i .amazing_services_bloks_text p {
    font-size: 9px;
  }

  .what_we_do_block {
    margin-top: 20px;
  }

  .accordion_block_i .accordion_click .accordion_ico {
    width: 24px;
    top: 8px;
    left: 10px;
  }

  .accordion_block_i .accordion_click {
    padding: 11px 11px 11px 40px;
  }

  .accordion_block_i .accordion_click p:after {
    width: 12px;
    height: 12px;
    top: 15px;
  }

  .slider_text p {
    font-size: 9px;
  }

  .slider_text h4 {
    font-size: 14px;
  }

  .textp p {
    font-size: 9px;
  }

  .sayaboutus_people_i p {
    font-size: 9px;
  }

  .blue_numbers .blue_numbers_center .numbers {
    height: 65px;
  }
}